.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.main-menu {
    display: flex;
    list-style: none;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 30px;
    direction: rtl;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0%;
    opacity: 0;
  
}

.main-menu li {
    margin: 0 10px;
    padding: 5px 15px;
    cursor: pointer;
    transition: 1s;
    
}

.main-menu li.active {
    background-color: #ffde5a;
    border-radius: 20px;
    color: #000;
}

.user-actions {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 5px;
    align-items: center;
    
}

.user-actions > div {
    cursor: pointer;

}

@keyframes fade-in
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@keyframes left-in
{
    from
    {
        transform: translateX(-200px);
        opacity: 0;
    }
    to
    {
        transform: translateX(0px);
        opacity: 1;
    }
}